<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles2.css" />
  </head>
  <body>
    <div class="food-grid">
      <img src="images/food1.jpg" alt="hotdogs" />
      <img src="images/food2.jpg" alt="salmons" />
      <img src="images/food3.jpg" alt="" />
      <img src="images/food4.jpg" alt="" />
      <img src="images/food5.jpg" alt="" />
      <img src="images/food6.jpg" alt="" />
      <img src="images/food7.jpg" alt="" />
      <img src="images/food8.jpg" alt="" />
      <img src="images/food9.jpg" alt="" />
      <img src="images/food10.jpg" alt="" />
    </div>
  </body>
</html>
