p {
  color: white;
}

em {
  color: red;
  font-style: normal;
}

body {
  margin: 10px;
}
/* 
table,
td,
th {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #427fef;
  color: white;
}

tr:nth-child(odd) {
  background-color: #eef7ff;
}

tfoot {
  text-align: left;
} */

.nav-bar {
  background: black;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  /* width: 300px;
  height: 300px;
  box-shadow: 10px 10px lightgray;
  border-radius: 10px; */
}

p {
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
  color: var(--color-headings);
}

/* This is the added from styles2.css */

.div {
  margin: 10px;
}

.food-grid {
  display: grid;
  grid-gap: 10px;
}

.food-grid img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

/* Mobile */
@media screen and (min-width: 480px) {
  .food-grid {
    display: grid;
    margin: 10px;
    grid-template-columns: auto;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .food-grid {
   grid-template-columns: repeat(2,1fr);
}
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .food-grid {
    grid-template-columns: repeat(3, 1fr);
    .food-grid img:nth-of-type(3) {
        grid-column: 2 / 4;
        grid-row 1 / 3;
    }
  }
} ;

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../HTML/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: .5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* This is the add from style3.css */

body {
  background: url(/images/bg-paper.jpg);
  background-repeat: no-repeat;
  background-position: 200px 100px;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary)
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}